* {
	box-sizing: border-box;
	font-family: $ff-ss;

	&::-webkit-scrollbar {
    width: 8px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background-color: rgba(255, 255, 255, 0.7);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $fw-b;
	margin: 0;
}

p,
ul {
	margin: 0;
	padding: 0;
	
	font-weight: $fw-r;

	@media (max-width: 599px) {
		font-size: 14px;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	line-height: 1.4em;
}

a {
  color: inherit;
  font-weight: $fw-b;
  text-decoration: none;
}