$padding: 20px;

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
    width: 100vw;
    
    padding: $padding;

	color: #fff;
	background: linear-gradient(
		to right,
		$gradient1,
		$gradient2
	);
}

.site-header {
	display: flex;
	align-items: center;
}

.navigation {
	&__container {
		display: flex;
		justify-content: space-between;

		&--top {
			justify-content: flex-end;
			flex-grow: 1;

			.navigation__item {
				margin-left: $padding;
			}
		}

		&--site {
			position: fixed;
            width: 100vh;
            max-width: 700px;
			height: 5vh;
            top: 50%;

            padding: 0 76px $padding 56px;
            
			transform: rotate(-90deg) translate(-50%, 0);
			transform-origin: left top;
		}
	}

	&__link {
		color: #fff;
		text-decoration: none;
	}
}

#main-content {
	flex-grow: 1;
    overflow: auto;


		padding-top: calc((100vh - 700px) / 2);
		padding-bottom: calc((80vh - 700px) / 2);
    padding-left: 36px;
    padding-right: $padding;
    margin: $padding 0;
}

.site-footer {
    text-align: right;
}

@media (min-width: 700px) {
    $padding: 40px;

    body {
        padding: $padding;
    }

    #main-content {
        padding-left: 16px + $padding;
        padding-right: $padding;
        margin: $padding 0;
    }

    .navigation__container--site {
        padding: 0 116px 0 96px;
    }
}