.project {
	&:not(:last-child) {
		margin-bottom: 2em;
	}

	&__image {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 0.4em;
	}

	&__desc {
	}

	&__button {
		padding: 0.5em 1em;

		border: 2px solid #fff;
		border-radius: 0.3em;

		font-weight: $fw-b;

		background: none;
		color: #fff;

		cursor: pointer;
		transition: all ease 0.3s;

		&:hover {
			background: #fff;
			color: $gradient1;
		}

		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}
