.project {
	&:not(:last-child) {
		margin-bottom: 3em;
	}

	&__image {
		width: 100%;
		margin-bottom: 0.8em;
	}

	&__title {
		margin-bottom: 0.4em;
	}

	&__desc {

	}

	&__button {
		padding: 0.5em 1em;

		border: 2px solid #fff;
		border-radius: 0.3em;

		font-weight: $fw-b;
		text-decoration: none;

		background: none;
		color: #fff;

		transition: all ease 0.3s;

		&:hover {
			background: #fff;
			color: $gradient1;

			.project__button-icon {
				fill: $gradient1;
			}
		}

		&:not(:last-child) {
			margin-right: 0.5em;
		}

		&-icon {
			width: 0.9em;
			margin-left: -0.2em;
			margin-right: 0.2em;

			fill: #fff;

			transition: all ease 0.3s;
		}
	}
}
