//
// modules
//

@import 'modules/variables';
@import 'modules/base';
@import 'modules/util';

//
// partials
//

@import 'partials/layout';

.skip-link {
  position: absolute;
  top: 0;
  left: -99999px;
  
  padding: 10px;

  background: #fff;

  &:focus {
      left: 0;
  }
}