@import 'variables';
@import 'base';

@import 'layout';
@import 'util';
@import 'section';
@import 'icon-list';
@import 'project';
@import 'link';
@import 'contact-list';

.skip-link {
  position: absolute;
  top: 0;
  left: -99999px;
  
  padding: 10px;

  background: #fff;

  &:focus {
      left: 0;
  }
}