<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>kozlovv.ski</title>
		<meta
			name="viewport"
			content="user-scalable=yes, width=device-width, initial-scale=1.0"
		/>
		<meta
			name="description"
			content="Szukasz juniora do swojej firmy? Świetnie się składa! Pozwól, że Ci o sobie opowiem."
		/>
		<link rel="icon" href="<%= require('./images/icons/favicon.png') %>" />
		<link
			rel="icon"
			sizes="192x192"
			href="<%= require('./images/icons/favicon_192.png') %>"
		/>
		<meta property="og:url" content="https://portfolio.kozlovv.ski" />
		<meta property="og:title" content="kozlovv.ski" />
		<meta
			property="og:description"
			content="Szukasz juniora do swojej firmy? Świetnie się składa! Pozwól, że Ci o sobie opowiem."
		/>
		<meta name="twitter:site" content="kozlovv.ski" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:image"
			content="<%= require('./images/og_image.png') %>"
		/>
		<meta
			property="og:image"
			content="<%= require('./images/og_image.png') %>"
		/>
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="315" />

		<link
			rel="stylesheet"
			href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
		/>
	</head>

	<body>
		<a href="#main-content" class="skip-link">Skip to the main content.</a>
		<header class="site-header padding">
			<h1 class="branding">kozlovv.ski</h1>
			<ul class="navigation__container navigation__container--top">
				<li class="navigation__item">
					<a
						class="navigation__link link link--bold"
						href="<%= require('./mkozlowski_cv.pdf') %>"
						target="_blank"
						rel="noopener noreferrer"
					>
						CV
					</a>
				</li>
				<li class="navigation__item">
					<a
						class="navigation__link link link--bold"
						href="https://github.com/kozlovvski"
						target="_blank"
						rel="noopener noreferrer"
					>
						GitHub
					</a>
				</li>
			</ul>
		</header>
		<nav class="navigation navigation--site">
			<ul class="navigation__container">
				<li class="navigation__item">
					<a
						class="navigation__link link link--bold"
						href="#kontakt"
						data-for="kontakt"
					>
						Kontakt
					</a>
				</li>
				<li class="navigation__item">
					<a
						class="navigation__link link link--bold"
						href="#portfolio"
						data-for="portfolio"
					>
						Portfolio
					</a>
				</li>
				<li class="navigation__item">
					<a
						class="navigation__link link link--bold"
						href="#co-umiem"
						data-for="co-umiem"
					>
						Co umiem
					</a>
				</li>
				<li class="navigation__item">
					<a
						class="navigation__link navigation__link--active link link--bold"
						href="#o-mnie"
						data-for="o-mnie"
					>
						O mnie
					</a>
				</li>
			</ul>
		</nav>
		<main id="main-content">
			<section id="o-mnie" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/welcome.svg') %>"
					alt="illustration of a character waving his hand"
				/>
				<h2 class="section__title">Cześć!</h2>
				<div class="section__content">
					<p>
						Nazywam się
						<strong>Michał Kozłowski</strong>
						i jestem grafikiem freelancerem, a ostatnimi czasy uczę się
						front-endu. Aktualnie szukam pierwszej pracy, więc pozwól, że trochę
						Ci o sobie opowiem :)
					</p>
					<p>
						Jeżeli jesteś bardziej zainteresowana/y moim kodem, to stack
						znajdziesz w sekcji
						<a class="link link--bold" href="#co-umiem" data-for="#co-umiem">Co umiem</a>, a projekty w sekcji
						<a class="link link--bold" href="#portfolio" data-for="#portfolio">Portfolio</a>.
					</p>
					<p>
						Mam 21 lat i studiuję w Szkole Głównej Handlowej w Warszawie, gdzie
						aktywnie działam w samorządzie studenckim. Przez ostatni rok
						nadzorowałem promocję organizacji reprezentującej ponad 10 000
						studentów naszej uczelni. Kierowałem zespołem
						grafików-wolontariuszy, których celem było dbanie o jakość
						materiałów graficznych tworzonych w naszej organizacji. Oprócz tego
						prowadziliśmy szkolenia dla studentów, w ramach których
						przeszkoliliśmy ponad 200 osób w obsłudze Adobe Illustratora i
						InDesigna.
					</p>
					<p>
						Front-endem zainteresowałem się pracując w internetowej agencji
						marketingowej, gdzie budowałem landing pages na WordPressie w page
						builderach. Co jakiś czas narzędzie nas ograniczało i trzeba było
						napisać customowe rozwiązanie, więc musiałem zaprzyjaźnić się z
						JSem. Grzebanie w kodzie spodobało mi się i podjąłem decyzję, że
						chcę się w tym rozwijać.
					</p>
				</div>
			</section>
			<section id="co-umiem" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/about.svg') %>"
					alt="illustration of a character standing on one leg and holding a laptop in each hand - as if he was balancing them"
				/>
				<h2 class="section__title">Co umiem</h2>
				<div class="section__content">
					<ul>
						<li>
							<h3>JavaScript</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/next.svg') %>"
										alt="Next.js framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/react.svg') %>"
										alt="React.js framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/redux.svg') %>"
										alt="Redux framework logo"
									/>
								</li>
							</ul>
							<p>
								Jestem zakochany w Reactcie i bardzo chciałbym pracować właśnie
								w nim. Dzięki niemu nauczyłem się lepiej dzielić swój kod, by w
								przyszłości móc łatwiej go poprawiać lub używać ponownie. Oprócz
								tego miałem styczność z Next.js, w którym piszę swój najnowszy
								projekt.
							</p>
						</li>
						<li>
							<h3>CSS</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/sass.svg') %>"
										alt="SASS framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/bootstrap.svg') %>"
										alt="Bootstrap framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/material.png') %>"
										alt="MaterialUI framework logo"
									/>
								</li>
							</ul>
							<p>
								W swoich statycznych projektach używam SCSS. Korzystałem z
								Bootstrap 4 i MaterialUI (jako paczek z komponentami do Reacta).
								Znam także "zwykły" CSS - regularnie używam flexboxa i CSS Grid,
								gdy framework nie posiada odpowiedniego rozwiązania lub gdy po
								prostu nie korzystam z frameworków.
							</p>
						</li>
						<li>
							<h3>Design</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/illustrator.svg') %>"
										alt="Adobe Illustrator logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/photoshop.svg') %>"
										alt="Adobe Photoshop logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/premiere.svg') %>"
										alt="Adobe Premiere Pro logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/indesign.svg') %>"
										alt="Adobe InDesign logo"
									/>
								</li>
							</ul>
							<p>
								Pracowałem jako grafik, więc mam doświadczenie w powyższych
								programach. Na porządku dziennym korzystam z Illustratora.
							</p>
						</li>
					</ul>
				</div>
			</section>
			<section id="portfolio" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/portfolio.svg') %>"
					alt="illustration of a character holding a laptop and looking at it"
				/>
				<h2 class="section__title">Portfolio</h2>
				<div class="section__content">
					<p>
						Poniżej moje projekty ułożone od najnowszego do najstarszego.
					</p>
					<ul>
						<li class="project">
							<img
								class="project__image"
								src="<%= require('./images/f1-hub.jpg')%>"
								alt=""
							/>
							<h3 class="project__title">F1Hub</h3>
							<p class="project__desc">
								SSR w Next.js – aplikacja wyświetlająca historyczne dane o
								Formule 1 aż do pierwszego sezonu w 1950 roku. Style w
								Material-UI. Projekt w budowie.
							</p>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://f1-hub.kozlovvski.now.sh"
							>Live demo</a>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://github.com/kozlovvski/f1-hub"
							>
								<svg
									class="project__button-icon"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 1024 1024"
								>
									<path
										d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28 43.52 0 87.04 5.76 128 17.28 97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0z"
									/>
								</svg>Source</a>
						</li>
						<li class="project">
							<img
								class="project__image"
								src="<%= require('./images/flappy-bird.jpg')%>"
								alt=""
							/>
							<h3 class="project__title">React Flappy Bird</h3>
							<p class="project__desc">
								Reprodukcja popularnej gry jako PWA w Reactcie – ucząc się
								chciałem przetestować możliwości frameworka. Korzysta z Reduxa
								do zapisu stanu gry.
							</p>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://kozlovvski.github.io/ReactFlappyBird"
							>Live demo</a>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://github.com/kozlovvski/ReactFlappyBird"
							>
								<svg
									class="project__button-icon"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 1024 1024"
								>
									<path
										d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28 43.52 0 87.04 5.76 128 17.28 97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0z"
									/>
								</svg>Source</a>
						</li>
						<li class="project">
							<img
								class="project__image"
								src="<%= require('./images/mediplus.jpg')%>"
								alt=""
							/>
							<h3 class="project__title">Mediplus Website</h3>
							<p class="project__desc">
								Template strony w Reactcie i Bootstrapie 4. Korzysta z React
								Router do nawigacji między podstronami.
							</p>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://kozlovvski.github.io/MediplusWebsite"
							>Live demo</a>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://github.com/kozlovvski/MediplusWebsite"
							>
								<svg
									class="project__button-icon"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 1024 1024"
								>
									<path
										d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28 43.52 0 87.04 5.76 128 17.28 97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0z"
									/>
								</svg>Source</a>
						</li>
						<li class="project">
							<img
								class="project__image"
								src="<%= require('./images/mart.jpg')%>"
								alt=""
							/>
							<h3 class="project__title">Mart Website</h3>
							<p class="project__desc">
								Template statycznej strony bez użycia frameworków. Napisane w
								celu lepszego przyswojenia flexboxa i CSS Grid.
							</p>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://kozlovvski.github.io/MartWebsite"
							>Live demo</a>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://github.com/kozlovvski/MartWebsite"
							>
								<svg
									class="project__button-icon"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 1024 1024"
								>
									<path
										d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28 43.52 0 87.04 5.76 128 17.28 97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0z"
									/>
								</svg>Source</a>
						</li>
						<li class="project">
							<img
								class="project__image"
								src="<%= require('./images/fireworks.jpg')%>"
								alt=""
							/>
							<h3 class="project__title">Canvas Fireworks</h3>
							<p class="project__desc">
								Fajerwerki w ES6 generowane na canvasie. Mój pierwszy projekt w
								JavaScriptcie.
							</p>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://kozlovvski.github.io/CanvasFireworks"
							>Live demo</a>
							<a
								class="project__button"
								target="_blank"
								rel="noopener noreferrer"
								href="https://github.com/kozlovvski/CanvasFireworks"
							>
								<svg
									class="project__button-icon"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 1024 1024"
								>
									<path
										d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28 43.52 0 87.04 5.76 128 17.28 97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0z"
									/>
								</svg>Source</a>
						</li>
					</ul>
				</div>
			</section>
			<section id="kontakt" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/contact.svg') %>"
					alt="illustration of a character pointing fingers to the right"
				/>
				<h2 class="section__title">Kontakt</h2>
				<div class="section__content">
					<p>
						Zachęcam do kontaktu ze mną - szukam pracy w Warszawie, ale rozważę
						wszystkie opcje. Moje CV można pobrać
						<a
							class="navigation__link link link--bold"
							href="/mkozlowski_cv.pdf"
							target="_blank"
							rel="noopener noreferrer"
						>tutaj</a>.
					</p>
					<ul class="contact-list">
						<li class="contact-list__item">
							<div class="contact-list__icon">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 512.001 512.001"
								>
									<path
										d="M498.808 377.784l-63.633-63.647c-16.978-16.978-46.641-17.007-63.647 0l-10.611 10.611 127.284 127.277 10.607-10.607c17.619-17.62 17.56-46.104 0-63.634zM339.116 345.37c-13.39 10.373-32.492 9.959-44.727-2.303L168.572 217.163c-12.263-12.263-12.676-31.379-2.303-44.736L39.278 45.443c-54.631 63.68-52.495 159.633 7.8 219.928l199.103 199.19c57.86 57.858 152.635 65.532 219.932 7.797L339.116 345.37zM197.503 76.391L133.87 12.744c-16.978-16.978-46.641-17.007-63.647 0L59.612 23.355l127.284 127.277 10.607-10.608c17.618-17.618 17.56-46.102 0-63.633z"
									/>
								</svg>
							</div>
							<span class="contact-list__data">884 852 588</span>
						</li>
						<li class="contact-list__item">
							<div class="contact-list__icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
									<path
										d="M317 31.022H45c-24.901 0-45 20.099-45 45v180c0 24.899 20.099 45 45 45h15v45c0 10.837 11.221 18.685 22.2 13.2.3-.3.901-.3 1.201-.601 82.516-55.335 64.023-42.997 82.5-55.2 2.399-1.5 5.099-2.399 8.099-2.399h143c24.901 0 45-20.101 45-45v-180c0-24.901-20.099-45-45-45zm-120 180H75c-19.773 0-19.854-30 0-30h122c19.773 0 19.854 30 0 30zm90-60H75c-19.773 0-19.854-30 0-30h212c19.773 0 19.854 30 0 30z"
									/>
									<path
										d="M467 151.022h-75v105c0 41.4-33.6 75-75 75H178.5l-28.5 18.9v26.1c0 24.899 20.099 45 45 45h147.499l86.1 57.599c11.752 6.525 23.401-1.41 23.401-12.599v-45h15c24.901 0 45-20.101 45-45v-180c0-24.9-20.099-45-45-45z"
									/>
								</svg>
							</div>
							<a
								class="contact-list__data link"
								href="mailto:michal@kozlovv.ski"
							>
								michal@kozlovv.ski
							</a>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<footer class="site-footer padding">
			<p>
				With ❤️ by
				<a class="link link--bold" href="https://github.com/kozlovvski">
					@kozlovvski
				</a>
				, &copy; 2019
			</p>
		</footer>
		<script
			defer
			src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"
		></script>
	</body>
</html>
