<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="user-scalable=yes, width=device-width, initial-scale=1.0"
		/>
		<title>kozlovv.ski</title>
		<link
			rel="stylesheet"
			href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
		/>
	</head>

	<body>
		<a href="#main-content" class="skip-link">Skip to the main content.</a>
		<header class="site-header padding">
			<h1 class="branding">kozlovv.ski</h1>
			<ul class="navigation__container navigation__container--top">
				<li class="navigation__item">
					<a
						class="navigation__link"
						href="/mkozlowski_cv.pdf"
						target="_blank"
						rel="noopener noreferrer"
						>CV</a
					>
				</li>
				<li class="navigation__item">
					<a
						class="navigation__link"
						href="https://github.com/kozlovvski"
						target="_blank"
						rel="noopener noreferrer"
						>GitHub</a
					>
				</li>
			</ul>
		</header>
		<nav>
			<ul class="navigation__container navigation__container--site">
				<li class="navigation__item">
					<a class="navigation__link" href="#kontakt">Kontakt</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#portfolio">Portfolio</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#co-umiem">Co umiem</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#o-mnie">O mnie</a>
				</li>
			</ul>
		</nav>
		<main id="main-content">
			<section id="o-mnie" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/welcome.svg') %>"
					alt="illustration of a character waving his hand"
				/>
				<h2 class="section__title">Cześć!</h2>
				<div class="section__content">
					<p>
						Nazywam się Michał Kozłowski i jestem grafikiem freelancerem, a
						ostatnimi czasy uczę się front-endu. Aktualnie szukam pierwszej
						pracy, więc pozwól, że trochę Ci o sobie opowiem :)
					</p>
					<p>
						Jeżeli jesteś bardziej zainteresowana/y moim kodem, to stack
						znajdziesz w sekcji <a href="#co-umiem">Co umiem</a>, a projekty w
						sekcji <a href="#portfolio">Portfolio</a>.
					</p>
					<p>
						Mam 21 lat i studiuję w Szkole Głównej Handlowej w Warszawie, gdzie
						aktywnie działam w samorządzie studenckim. Przez ostatni rok
						nadzorowałem promocję organizacji reprezentującej ponad 10 000
						studentów naszej uczelni. Kierowałem zespołem
						grafików-wolontariuszy, których celem było dbanie o jakość
						materiałów graficznych tworzonych w naszej organizacji. Oprócz tego
						prowadziliśmy szkolenia dla studentów, w ramach których
						przeszkoliliśmy ponad 200 osób w obsłudze Adobe Illustratora i
						InDesigna.
					</p>
					<p>
						Front-endem zainteresowałem się pracując w internetowej agencji
						marketingowej, gdzie budowałem landing pages na WordPressie w page
						builderach. Co jakiś czas narzędzie nas ograniczało i trzeba było
						napisać customowe rozwiązanie, więc musiałem zaprzyjaźnić się z
						JSem. Grzebanie w kodzie spodobało mi się i podjąłem decyzję, że
						chcę się w tym rozwijać.
					</p>
				</div>
			</section>
			<section id="co-umiem" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/about.svg') %>"
					alt="illustration of a character standing on one leg and holding a laptop in each hand - as if he was balancing them"
				/>
				<h2 class="section__title">Co umiem</h2>
				<div class="section__content">
					<ul>
						<li>
							<h3>JavaScript</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/next.svg') %>"
										alt="Next.js framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/react.svg') %>"
										alt="React.js framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/redux.svg') %>"
										alt="Redux framework logo"
									/>
								</li>
							</ul>
							<p>
								Jestem zakochany w Reactcie i bardzo chciałbym pracować właśnie
								w nim. Dzięki niemu nauczyłem się lepiej dzielić swój kod, by w
								przyszłości móc łatwiej go poprawiać lub używać ponownie. Oprócz
								tego miałem styczność z Next.js, w którym piszę swój najnowszy
								projekt.
							</p>
						</li>
						<li>
							<h3>CSS</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/sass.svg') %>"
										alt="SASS framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/bootstrap.svg') %>"
										alt="Bootstrap framework logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/material.png') %>"
										alt="MaterialUI framework logo"
									/>
								</li>
							</ul>
							<p>
								W swoich statycznych projektach używam SCSS. Korzystałem z
								Bootstrap 4 i MaterialUI (jako paczek z komponentami do Reacta).
								Znam także "zwykły" CSS - regularnie używam flexboxa i CSS Grid,
								gdy framework nie posiada odpowiedniego rozwiązania lub gdy po
								prostu nie korzystam z frameworków.
							</p>
						</li>
						<li>
							<h3>Design</h3>
							<ul class="icon-list__container">
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/illustrator.svg') %>"
										alt="Adobe Illustrator logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/photoshop.svg') %>"
										alt="Adobe Photoshop logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/premiere.svg') %>"
										alt="Adobe Premiere Pro logo"
									/>
								</li>
								<li class="icon-list__item">
									<img
										class="icon-list__icon"
										src="<%= require('./images/icons/indesign.svg') %>"
										alt="Adobe InDesign logo"
									/>
								</li>
							</ul>
							<p>
								Pracowałem jako grafik, więc mam doświadczenie w powyższych
								programach. Na porządku dziennym korzystam z Illustratora.
							</p>
						</li>
					</ul>
				</div>
			</section>
			<section id="portfolio" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/portfolio.svg') %>"
					alt="illustration of a character holding a laptop and looking at it"
				/>
				<h2 class="section__title">Portfolio</h2>
				<div class="section__content">
					<p>
						Poniżej moje projekty ułożone chronologicznie.
					</p>
					<ul>
						<li></li>
					</ul>
				</div>
			</section>
			<section id="kontakt" class="wrapper section">
				<img
					class="section__image"
					src="<%= require('./images/contact.svg') %>"
					alt="illustration of a character pointing fingers to the right"
				/>
				<h2 class="section__title">Kontakt</h2>
				<div class="section__content">
					<p>
						Zachęcam do kontaktu ze mną - szukam pracy w Warszawie, ale rozważę
						wszystkie opcje. Moje CV można pobrać
						<a
							class="navigation__link"
							href="/mkozlowski_cv.pdf"
							target="_blank"
							rel="noopener noreferrer"
							>tutaj</a
						>.
					</p>
					<ul>
						<li><b>tel. </b>884 852 588</li>
						<li>
							<b>mail: </b
							><a href="mailto:michal@kozlovv.ski">michal@kozlovv.ski</a>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<footer class="site-footer padding">
			<p>
				With ❤️ by
				<a href="https://github.com/kozlovvski">@kozlovvski</a>, &copy; 2019
			</p>
		</footer>
		<script
			defer
			src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"
		></script>
	</body>
</html>
